<p id="notice"><%= notice %></p>

<h1>Listing Bids</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Item</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.amount %></td>
        <td><%= bid.item_id %></td>
        <td><%= bid.user_id %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


